[2018-10-31 23:20] NicolasHug opened #22 "Allocate ordered_gradients and ordered_hessians only once"
Opening this issue so that we don't forget there is room for improvement on this matter.

We could allocate `ordered_gradients` and `ordered_hessians` once and for all in the `SplittingContext` object instead of doing the allocation for every node.

Also, we could populate them in parallel.

I tried doing this in 1b073b1fc8d5e620f84859177a1021ae231b7fa6. It passes the tests but it still allocates

[2018-11-01 08:13] ogrisel opened #23 "Implement ONNX export"
https://github.com/onnx/onnxmltools has exports for lightgbm and scikit-learn decision trees.

It would be great to add onnx exports built-in pygbm, for instance in a new pygbm.onnx module (that is not imported by default so as to make the dependency on the `onnx` package optional).

This would also make it possible to improve the checks in `test_compare_lightgbm` so as to check that the structure

[2018-11-01 08:15] ogrisel opened #24 "Implement ONNX import"
Once #23 (ONNX export) is implemented, adding ONNX imports would be nice to help with interoperability testing.

[2018-11-01 08:17] ogrisel opened #25 "Implement support for categorical variables"
pygbm should accept `pandas.DataFrame` instances as in X in `gbm.fit(X, y)` (as well as `predict`, in addition to numpy arrays).

This would make it more natural to accept heterogeneously typed features in the training data.

I am not sure what is the best strategy is to deal with categorical variables. Reviewing the strategy implemented in LightGBM and XGBoost would be helpful.

[2018-11-01 08:24] ogrisel opened #26 "Implement support for sparse feature data"
For instance if all the data is passed as a `scipy.sparse.csc_matrix` (e.g. after one hot encoding).

Pandas as support for sparse features: http://pandas.pydata.org/pandas-docs/stable/sparse.html

In particular it has dedicated datastructure for 1D sparse data: SparseArray.

There is also: https://github.com/pydata/sparse  and I believe the ecosystem will converge at some point. I would be in fav

[2018-11-01 08:26] ogrisel opened #27 "Implement support for missing values"
In particular for binned numerical features, we need to reserve a specific bin as a marker for missing values. I believe this is what LightGBM does.

[2018-11-01 08:48] ogrisel commented on #23
Ping @xadupre if you are bored with scikit-learn :)

[2018-11-01 11:20] Laurae2 opened #28 "scikit-learn 0.20 is required"
Please add into your dependencies that scikit-learn 0.20 is required.

Otherwise, it throws the following error:

Which is only available from scikit-learn 0.20 (latest stable version).

[2018-11-01 12:21] Laurae2 opened #30 "Benchmark results with better parameters"
Used a laptop for a better demo benchmark:

* Intel Core i7-7700HQ (4 cores, 8 threads), unthrottled
* 32GB RAM DDR4 2400 MHz (dual channel)
* Python 3.6, scikit-learn 0.20, numba 0.40.1

Setup for the proper benchmarking:

* No LightGBM / pygbm warmup allowed
* 1 million training samples (10 million might crash on 64GB RAM? pygbm requires at least 24GB RAM for 1 million)
* 500 training iterations

[2018-11-01 13:38] #28 closed

[2018-11-01 13:45] ogrisel commented on #30
Indeed I observed the memory usage issue. We will need to investigate why this is the case. The grower object is expected to be big because we store the samples indices in the nodes but this should not be the case for the predictor objects. When the number of trees is increased, we only accumulate the predictor objects in a list. The grower objects should garbage collected has we progress. Maybe w

[2018-11-01 13:52] ogrisel commented on #30
Including the warm-up penalty (JIT compilation overhead) is a bit unfair because it would be possible to use numba with a compile cache or Ahead of Time compiling but we do not want to spend time on this while we are still developing the pygbm package.

[2018-11-01 13:55] ogrisel commented on #30
To get additional info on the where the time is spent in LightGBM you can compile it with the following:

[code]

It should report additional information that makes it possible to compare with the verbose output of pygbm.

[2018-11-01 14:00] ogrisel commented on #30
On my laptop (XPS13 from 2 years ago) with the following change to the benchmark settings:

[code]

I get:

| Model | Time | AUC | Comments |
| :--- | ---: | ---: | :--- |
| LightGBM | 177.147s | 0.8188 | Saturates the 4 Hyperthreads of my latop |
| pygbm | 201.917s | 0.8075 | Requires over ~16GB RAM.<br>Individual trees construction time tend to decrease from 4.3s to 3.85s. |

So LightGBM perform

[2018-11-01 14:17] ogrisel commented on #30
With your hyperparameters:

[code]

 I get the following:

[code]

I only have 16GB of RAM on this laptop and the VIRT memory usage seems to be the cause of the slowdown.

[2018-11-01 14:20] ogrisel opened #31 "Excessive memory usage when the number of trees is large (e.g. 500 trees)"
As investigated in #30, when the number of trees is large, htop reports VIRT memory that exceeds the physical memory of the host and causes computer hangs that slows down computation.

What is weird is that RES memory seems to stay constant.

[2018-11-01 14:28] ogrisel commented on #31
This problem can be reproduces even on very small training sets (e.g. 1e4 samples) but with `n_trees > 500`.

[2018-11-01 14:41] NicolasHug commented on #31
This should hopefully be fixed by #21 right? At least partially

[2018-11-01 14:51] ogrisel commented on #31
Memory use is still much higher with pygbm. Maybe we could try to reuse the grower instance over and over again with some kind of a  `.reset(gradients, hessians)` method.

[2018-11-01 15:04] NicolasHug commented on #31
that's exactly what LGBM is doing BTW. I think it would make sense yes, 500 trees = 500 array allocations of size n_samples so it takes a toll.

But that means somehow the old grower instances aren't properly garbage collected?

[2018-11-01 15:05] ogrisel commented on #31
BTW, the split costs on master is still 2x faster than on this PR.

[2018-11-01 15:06] Laurae2 commented on #30
@ogrisel It seems with `n_trees = 250` and `n_leaf_nodes = 255` and 1 million samples, pygbm (and the dataset) wants in total about 16GB RAM.

[2018-11-01 15:11] ogrisel commented on #30
I noticed that too. If you install numba with conda, you can set `numba.config.THREADING_LAYER` to "omp" to use the OpenMP thread pool, as LightGBM does (although LightGBM is compiled with GCC and uses libgomp while numba uses LLVM openmp implementation). When I use OpenMP I see better CPU usage in htop (than with the tbb threading layer used by default), but the computation performance is approxi

[2018-11-01 15:15] ogrisel commented on #30
We might have a discrepancy in the hyperparameters that would explain the difference in AUC but I am not sure which. We have a test that check that we get the same trees in non-pathological cases here:

https://github.com/ogrisel/pygbm/blob/master/tests/test_compare_lightgbm.py

But apparently this is not the case for Higgs boson. This would also require more investigation. I suspect our handling

[2018-11-01 15:39] Laurae2 commented on #30
You need to check the following equivalent hyperparameters in pygbm from LightGBM:

* num_iterations
* learning_rate
* num_leaves
* max_depth (default: -1 for infinite)
* min_data_in_leaf (default: 20, means at least 20 sample in a leaf)
* min_sum_hessian_in_leaf (default: 1e-3, means at least 1e-3 hessian sum in a leaf)
* lambda_l1 (default: 0)
* lambda_l2 (default: 0)
* min_gain_to_split (defaul

[2018-11-01 16:05] NicolasHug commented on #30
One thing I noticed before is that `min_samples_leaf` in pygbm isn't really what we think it is. It's not as in scikit learn:

The minimum number of samples required to be at a leaf node. A split point at any depth will only be considered if it leaves at least min_samples_leaf training samples in each of the left and right branches

In pygbm the logic is different, the parent will be split even if

[2018-11-01 16:15] ogrisel opened #32 "Investigate the discrepancy in default hyperparams compared to LightGBM"
Possible culprits:

- `shrinkage` / `learning_rate`
- `min_samples_leaf`
- `min_child_samples`

See details in https://github.com/ogrisel/pygbm/issues/30#issuecomment-435091127.

[2018-11-01 16:16] ogrisel commented on #31
This is what I suspect. Maybe numba is keeping some internal references on jitclass instances?

[2018-11-01 16:54] szilard commented on #30
great work (both the new implementation allowing to compare the effectiveness of LLVM/code generation etc. vs traditional implementation/compilation for GBMs) and the benchmarking effort as uncovered here in this issue

[2018-11-01 18:56] NicolasHug commented on #30
Update:

Ok so `num_leaves` is not a maximum: see [here](https://github.com/Microsoft/LightGBM/blob/master/src/treelearner/serial_tree_learner.cpp#L185). They only break out of the training loop if the best node to split has a low gain.

`min_sample_leaf` (equivalent to `min_data_in_leaf`) seems to have the correct implementation: see e.g. [here](https://github.com/Microsoft/LightGBM/blob/master/s

[2018-11-01 21:15] NicolasHug commented on #22
And I did ^^

Fixed in #33

[2018-11-02 00:48] dhirschfeld commented on #30
Are you using [`defaults::numpy`](https://github.com/AnacondaRecipes/numpy-feedstock/tree/master/recipe)? Anaconda patch numpy to have deeper integration with the `mkl` so I'm curious if that provides any benefit to `pygbm`?

Also, I'm curious if setting the `KMP_COMPOSABILITY` env var makes any difference?
[code]
https://github.com/scipy-conference/scipy_proceedings/blob/2018/papers/anton_malakho

[2018-11-02 05:04] guolinke commented on #30
@NicolasHug I don't lightgbm has a parameter named `min_sample_leaf`: https://github.com/Microsoft/LightGBM/search?utf8=%E2%9C%93&q=min_sample_leaf&type=

[2018-11-02 05:09] guolinke commented on #30
@NicolasHug LightGBM doesn't have a parameter named `min_sample_leaf`.
Refer to https://github.com/Microsoft/LightGBM/blob/dfe0fae4ea5a412d253c25fbd997224e9243bd9a/docs/Parameters.rst#min_data_in_leaf

[2018-11-02 05:10] guolinke commented on #32
@NicolasHug I think you used the wrong parameter name in that code.

[2018-11-02 08:19] ogrisel commented on #30
@dhirschfeld there is not nested `prange` loops in pygbm so far and we don't do any linear algebra, numpy is just use as passive datastructure (no BLAS routines used) so composability is probably useless in this context.

[2018-11-02 10:01] ogrisel opened #34 "mean_samples_leaf does not do what it's suppose to do"
`min_samples_leaf=20` should ensure that we never do a split that would result in less than 20 samples in each of the two resulting leaves.

Our current implementation does not split nodes with less than 20 samples which is not the same. Our current implementation is akin to the `min_samples_split` of scikit-learn trees which is not a good hyperparameter to control over-fitting.

I am working on a

[2018-11-02 10:02] ogrisel commented on #32
Indeed. It's actually the pygbm handling of `min_samples_leaf` that is broken. See: #34.

[2018-11-02 11:54] #22 closed

[2018-11-03 00:39] ogrisel commented on #34
`min_samples_leaf` is now doing what it's supposed to do (I think) but pygbm is still not 100% consistent with LightGBM. So #32 is not resolved yet.

[2018-11-03 00:39] #34 closed

[2018-11-03 02:10] NicolasHug commented on #31
So that would suggest that the problem doesn't come from some garbage collector issue?

I tried a quick hack

[code]

[code]

but I'm still observing the huge VIRT usage (about 12GB while I only have 8) on the benchmark from #30 after ~100 trees.

Note that this doesn't reuse the space allocated for the histograms so maybe it comes from there, but I doubt it. For a given node the histograms take u

[2018-11-03 07:51] ogrisel commented on #31
https://mg.pov.lt/objgraph/ might be handy at finding the cause of the memory growth.

[2018-11-03 10:07] ogrisel commented on #31
I tried a bit with objgraph and the only new Python-level object between 2 iteration of gradient boosting is a `TreePredictor` instance. I have also patched the code to not create those instances and I still observe the large memory increase...

[2018-11-03 16:35] NicolasHug commented on #31
Yeah but that makes sense right? I am 90% sure that if everything were correctly garbage collected, we wouldn't have any leak. And the TreePredictor objects are super small anyway. So if we assume that CPython's GC is working, that means there's something going on with the numba interaction.

putting this inside the main loop of `GradientBoostingMachine`
[code]

will give me

[code]

So this sugge

[2018-11-03 20:19] ogrisel commented on #31
Interesting. This is really weird. We should try to come up with a minimal reproduction case by pruning the code of pygbm while reproducing the memory "leak" until it's no longer specific to pygbm concepts and reduced to basic numpy + numba primitives.

[2018-11-03 22:42] NicolasHug commented on #31
Fun stuff incoming.

I patched `GradientBoostingMachine.fit()` so that it returns a list of the memory usage at each iteration:

[code]

and then I plot this list for various `n_samples` sizes.

<details>

[code]
</details>

(changes are on my [leak](https://github.com/NicolasHug/pygbm/tree/leak) branch)

![leak](https://user-images.githubusercontent.com/1190450/47957980-83420d80-df97-11e8-91d2-ce

[2018-11-03 23:07] NicolasHug commented on #31
Oh and this is the plot for 1e7 samples

![leak1e7](https://user-images.githubusercontent.com/1190450/47958148-a66ebc00-df9b-11e8-98ab-2d1272d1df2b.png)

[2018-11-04 09:35] ogrisel commented on #31
This could be cause by a cyclic reference. You can break cyclic references by forcing a `import gc; gc.collect()`.

Note that I had already tried to add this inside the main loop of `GradientBoostingMachine.fit` to see if it would fix the original problem but it did not change the memory usage (just slow things down).

[2018-11-04 09:39] ogrisel commented on #31
You should try with a smaller learning rate, e.g. 0.01. I noticed that with a large learning rate and many trees, the boosting algorithms can degenerate into producing small decision stumps (only 2 leaves). Maybe the additive gradient descent process has converged: gain would be too small to produce any improvement with large trees. I have not checked.

[2018-11-05 08:57] ogrisel commented on #31
The only datastructure that could cause this growth are the histograms stored on each grower nodes:

Assuming 500 approximately balanced trees (with 255 nodes with stored histograms), that would result in 22 GB if there are not collected:

[code]

[2018-11-05 12:51] NicolasHug commented on #31
Shouldn't this be `* 4`? The histograms entry are all 32 bits.

But yeah that would make sense, the leak in my plots is approximately 1.7MB per iteration which is close the histogram size `20 * 28 * 256 * 4 * 3 / 1e6 = 1.72032`.

Can't wait for the fix!! :)

[2018-11-05 13:10] ogrisel commented on #31
Yes you are right: 4 bytes instead of 8.

I had a preliminary fix but forgot to commit it...

[2018-11-05 13:53] ogrisel commented on #31
@NicolasHug you can have a look at #36.

[2018-11-05 17:31] #31 closed

[2018-11-05 17:34] ogrisel commented on #30
@Laurae2 I merged a fix to workaround a memory leak by numba in pygbm master. Please feel free to try again, the results should be better.

I also noticed that on a many core machine the tbb threading layer of numba gives much better performance than the workqueue backend, but  LightGBM is still better at using all the cores very efficiently.

[2018-11-05 17:36] ogrisel commented on #30
We still get a lower accuracy when the number of trees is large and with a small learning rate. This discrepancy is tracked in #32.

[2018-11-06 13:14] ogrisel commented on #30
Here is another run on the same machine with a single core to check the scalability w.r.t. the number of threads:

[code]

| Model | Time | AUC | Comments |
| :--- | ---: | ---: | :--- |
| LightGBM | 1045s | 0.8282 | Reference |
| pygbm | 1129s | 0.8192 |  |

So even in single thread, pygbm is slightly slower.

 And the AUC is slightly lower (tracked in #32).

[2018-11-06 14:01] NicolasHug commented on #30
Regarding the speed there are still some places where we can parallelize the code, for example when computing the new gradients and hessians.

[2018-11-06 14:05] ogrisel commented on #30
I will open an issue dedicated to the thread scalability with more details.

[2018-11-06 14:08] ogrisel opened #38 "Thread scalability is suboptimal"
As reported in https://github.com/ogrisel/pygbm/issues/30#issuecomment-436184680 , the scalability of pygbm is not as good as LightGBM.

Here are some results on a machine with the following CPUs:

Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz: 2 sockets each with 12 cores each which means 48 hyperthreads in total.

## 1 thread (sequential)
[code]

| Model | Time | AUC | Speed up |
| :--- | ---: | ---

[2018-11-06 14:11] ogrisel commented on #30
@Laurae2 I think we can close this issue. Remaining work will be tracked in #32 and #38.

[2018-11-06 14:11] #30 closed

[2018-11-06 23:39] NicolasHug opened #39 "Enhance binning strategy"
Results are comparable to LightGBM when `n_samples` <= `n_bins` because both libs are using the actual feature values as bin thresholds.

This is not the case anymore when  `n_samples` > `n_bins`. In particular, on this very easy dataset (`target = X[:, 0] > 0`, lightgbm finds a perfect threshold of `1e-35` while that of pygbm is `-0.262`. This leads to different trees and less accurate prediction

[2018-11-08 19:31] NicolasHug commented on #39
Here is another example, this time with *pre-binned* data.

I can't explain why the left root child has a different split gain. When I print the split gain values considered by lightgbm, no split is equal to `0.923`.

The discrepancy may not come from the actual binning strategy here, but could be due to how the bins are treated afterwards. Some of them may not be considered, or merged, I don't kn

[2018-11-08 20:35] ogrisel commented on #39
It's not just the split gain that is different on the left root child: it's also not splitting on the same feature.

[2018-11-19 23:22] NicolasHug commented on #39
Ok I made some small progress on this. Still don't know the details of lightgbm binning but I can explain the 2 previous comments.

---------

For the first comment (https://github.com/ogrisel/pygbm/issues/39#issue-378080775), it looks like LightGBM forces `-1e-35` and `1e-35` as binning thresholds, regardless of the binning strategy (see [here](https://github.com/Microsoft/LightGBM/blob/master/sr

[2018-11-20 13:49] ogrisel commented on #39
Maybe we should ask the LightGBM developers to explain why this is useful.

+1, and we can reenable it the day we implement feature bundling (hopefully).

[2018-11-20 14:40] ogrisel commented on #39
Nice catch.

[2018-11-26 16:03] NicolasHug opened #47 "Initialize predictions to something better than just 0"
Saving it here so we remember: instead of initializing `y_pred` to 0 we may want to do something more sensible like boosting from the average target, or even accept an `init` predictor.

[2018-11-29 20:04] NicolasHug opened #48 "Parallelize predictions with static scheduling"
Not sure if this will have a high impact on the time, but in predictions functions we could replace the parallel loop over all samples

[code]

to a static scheduling to take advantage of the cache.

This is probably only going to be significant if `scoring is not None` because in this case `_predict_binned` will be called at every iteration.

[2018-11-30 16:06] NicolasHug opened #50 "Updating to numba 0.41 breaks everything"
:'(

[2018-11-30 17:04] NicolasHug commented on #50
I opened https://github.com/numba/numba/issues/3554

[2018-12-03 14:05] NicolasHug opened #53 "Rename y_pred to make it clear that those are the trees values"
The `y_pred` variable that we use in `BaseGradientBoosting` is not necessarily the actual prediction. It's only the values predicted by the trees, to be later converted to a class if needed.

Change it to e.g. `raw_predictions`

[2018-12-04 02:18] NicolasHug opened #55 "Write tests for the held out validation data and early stopping"
The validation data and early stopping mechanisms are not covered by the tests.

[2018-12-04 09:49] ogrisel commented on #48
If you implement this please add a dedicated benchmark script for predictions to the `benchmarks/` folder.

[2018-12-04 09:49] ogrisel commented on #48
You can also compare prediction time to LightGBM there.

[2018-12-04 09:50] ogrisel commented on #50
Closing as #51 has been merged.

[2018-12-04 09:50] #50 closed

[2018-12-04 18:59] NicolasHug opened #56 "Unify names of X_binned, features_data and binned_features"
`X_binned` in `GradientBoosting` is named `features_data` in the grower and `binned_features` in the splitting context.

How about we use instead:
- `X_binned` in every class
- or `X_binned` in `GradientBoosting` and `binned_features` in both the grower and splitting context

?

As a side note, passing `n_features` to the splitting context is redundant since it's just `binned_features.shape[0]`.

[2018-12-06 17:57] #56 closed

[2018-12-07 02:58] NicolasHug commented on #53
Closed by #49

[2018-12-07 02:58] #53 closed

[2018-12-07 18:51] #55 closed

[2018-12-10 12:18] ogrisel commented on #38
Recent changes in master do parallelize more things and scalability is not as bad as reported anymore. pygbm tend to stay close to 1.5 of the duration of lightgbm at worst.

[2018-12-10 20:44] NicolasHug opened #63 "Usage of scorer is incorrect"
We use `scorer._score_func(y_train, predicted_train)` where `predicted_train = self._predict_binned(X_binned_train)`.

`predict_binned` outputs classes for classification. This won't work for e.g. `scoring='neg_log_loss'` which requires probabilities from `predict_proba()`.

One solution is to get rid of `scoring` and check early stopping based on the loss.

If we want to keep `scoring`, I think w

[2018-12-11 23:06] NicolasHug opened #66 "Use cache=True on everything?"
Opened https://github.com/numba/numba/issues/3588 to ask if there's an alternative.

[2018-12-12 18:52] NicolasHug commented on #66
There's none (for now).

Do we want to cache all compilations @ogrisel ? I'd say yes, since it takes a non-negligible amount of time

[2018-12-13 03:07] NicolasHug commented on #66
SO I did that, `cache=True` is not supported for jitclasses nor when `parallel=True` so gain is pretty minimal: going from about 10s to 9s.

[2018-12-13 10:39] stuartarchibald commented on #38
@ogrisel would it be worth taking a look with the new parallel diagnostics output http://numba.pydata.org/numba-doc/latest/user/parallel.html#diagnostics to check what is/isn't parallelized?

[2018-12-13 13:13] ogrisel commented on #38
Thanks for the feedback @stuartarchibald. This code does many calls to several jitted functions. Is there a way to get all the diagnostic reports for all the functions jitted by numba at the end of the benchmark script?

[2018-12-13 13:20] ogrisel commented on #66
Ok so better wait for a better caching infrastructure in numba before enabling it.

[2018-12-13 13:30] stuartarchibald commented on #38
Would setting the [`NUMBA_PARALLEL_DIAGNOSTICS`](http://numba.pydata.org/numba-doc/latest/reference/envvars.html#envvar-NUMBA_PARALLEL_DIAGNOSTICS) environment variable work for that purpose?

[2018-12-13 13:36] ogrisel commented on #63
Being able to enable early stopping based on the loss would be interesting and could be made the default behavior (that is, have `scoring=None` by default in the constructor).

However, I think it's interesting to make it possible to use a pluggable "business" metric that is not the loss for early stopping as early stopping is a form of model selection and it makes sense to use the "business" metr

[2018-12-13 13:57] ogrisel commented on #38
Thanks, this is exactly what I was looking for.

[2018-12-13 14:30] ogrisel commented on #38
Actually what we really need is to do 2 runs under a profiler, one with `NUMBA_NUM_THREADS=1` and one with `NUMBA_NUM_THREADS=8` (for instance), and then for each numba function in the critical path, compute the speed up ratio and spot the functions that least benefit from `parallel=True` in term of speed up and then look at the detailed parallel diagnostic for those.

It's also possible that we h

[2018-12-13 14:48] stuartarchibald commented on #38
I think this is related https://github.com/numba/numba/issues/3438, as setting the thread count to one is not the same as just switching parallelism off (parallel transformations and scheduling still take place). There are potentially cases where adding more than one thread causes the code to slow down (parallel kernels with negligible per-thread work, but all the overhead of scheduling), and furt

[2018-12-13 15:09] ogrisel commented on #38
I did a quick bench on the current master on a machine with many cores (without profiling for now):

[code]

| Model | Time | AUC | Speed up |
| :--- | ---: | ---: | :--- |
| LightGBM | 431s | 0.7519 | 1x |
| pygbm | 460s | 0.7522 | 1x |

[code]

| Model | Time | AUC | Speed up |
| :--- | ---: | ---: | :--- |
| LightGBM | 83s | 0.7519 | 5.2x |
| pygbm | 146s | 0.7536 | 2.9x |

Intel(R) Xeon(R) CPU

[2018-12-13 21:18] #48 closed

[2018-12-14 10:41] #47 closed

[2018-12-14 15:35] NicolasHug opened #68 "Passing pre-binned data to `fit()`"
I think that it is not possible to pass pre-binned data into `fit()`, or at least that results may not be as expected.

This is the case both in the current implementation, and also with the changes in #65.

Let's say we pre-bin `X` into `X_binned`:

[code]

and then call `fit(X_binned)`.

One might expect `predict(X)` to output the same as `predict_binned(X_binned)`, but that's not the case.

The

[2018-12-14 15:46] #63 closed

[2018-12-14 16:01] ogrisel commented on #68
What we could do is:

- if GradientBoostingClassifier.fit is passed uint8 data, it is considered pre-binned (not additional BinMapper involved)
- predicting on numerical data (any dtype that is not uint8) raises an informative `TypeError` stating it's not possible to use this model on non-binned numerical data.

[2018-12-14 16:01] ogrisel commented on #68
That would imply making it possible to have:

[code]

[2018-12-14 16:07] ogrisel opened #69 "Use the training (or validation) loss value for early stopping by default"
I think we should have `scoring=None` for all Gradient Boosting estimators by default and still enable early stopping.

- if `self.validation_split is not None`, call `self.loss_(y_validation, raw_predictions_validation)` instead of a `Scorer` instance.
- if `self.validation_split is None`, find a way to incrementally update an estimator of the full training loss without adding any additional comp

[2018-12-14 16:07] NicolasHug commented on #68
Yeah I think that's a good idea.

So we'd also need a `fit_X_is_binned_` attribute right? Because `predict()` must accept both `uint8` and `float32`, as the early stopping checks are done with binned data that ais `uint8`.

[2018-12-14 16:08] ogrisel commented on #68
We can just check that `self` has no `bin_mapper_` attribute.

[2018-12-14 16:21] NicolasHug commented on #69
+1 this is a more natural strategy.

For the second point, you mean updating the training loss while we update the gradients to avoid redundant computations? This seems doable for LS at least.

I'll go for a simple version first (separate updates) and see what it looks like.

[2018-12-14 16:22] ogrisel commented on #69
Yes.

Alright.

[2018-12-14 16:36] ogrisel opened #70 "API documentation is broken"
See: https://pygbm.readthedocs.io/en/latest/

I am not sure what is going on.

[2018-12-14 20:32] amueller opened #72 "All the examples require lightgbm"
I tried to run the examples but they all install lightgbm which is not a requirement. Maybe make them optional?

[2018-12-14 20:32] amueller commented on #72
oh actually you're importing it in utils:
/home/andy/checkout/scikit-learn/pygbm/pygbm/utils.py

[2018-12-14 20:53] #72 closed

[2018-12-15 17:21] Laurae2 commented on #38
@ogrisel You can apply for a free Intel VTune license for profiling your code if you do research.

It will be much better than the numba profiler.

[2018-12-17 09:50] stuartarchibald commented on #38
@Laurae2 I'm not sure what the "numba profiler" is, please could you clarify?! Numba has a [built in parallel diagnostics tool](http://numba.pydata.org/numba-doc/latest/user/parallel.html#diagnostics) which tracks transforms made to it's own IR of the Python source as it converts serial code to parallel code, but that's a compile-time diagnostic tool not a performance profiler.

Further, Numba 0.4

[2018-12-17 14:18] NicolasHug opened #76 "Allow score monitoring regardless of early stopping"
As mentioned in  #75, it'd be nice to allow score monitoring (both scoring and loss values on train / validation data) regardless of early stopping.

[2018-12-17 14:33] #69 closed

[2018-12-17 14:58] NicolasHug opened #77 "Optimize score loss computation"
Slightly related to #76

This is the second bullet point from https://github.com/ogrisel/pygbm/issues/69#issue-391170726

When early stopping (or just score monitoring) is done on the training data with the loss, we should just use the `raw_predictions` array from `fit()` instead of re-computing it.

Results would be slightly different from the current implementation because we are currently compu

[2018-12-18 13:24] NicolasHug opened #80 "Remove empty slice check (numba fixed the issue)"
https://github.com/numba/numba/issues/3554 was fixed so we can remove our temporary fix from #51 once the next version is released.

Places to fix (ATM):

[code]

[2018-12-18 14:12] NicolasHug opened #81 "Reuse grower (and thus the splitter) instead of creating a new one"
A new grower (and a new SplittingContext) is created at each iteration which may cause a memory use peak on large datasets (#79).

Instead of instanciating a new grower, we could just reset it and reuse the allocated space.

See https://github.com/ogrisel/pygbm/pull/79#discussion_r242546463 to evaluate the changes

[2018-12-18 15:29] NicolasHug opened #82 "Updating to Scipy 1.2.0 breaks loss tests..."
will investigate

[2018-12-18 15:42] maartenbreddels opened #83 "Optionally use left/right indices buffer"
continuing from #79

In splitting.py, the left/right_indices_buffer will use up 8GB for 10^9 rows. If that causes swapping, the performance benefit of multithreading (which requires these buffers) are most probably not worth it. Would it be an option to disable this?
Is there also a method that could without the buffer (I'm still wrapping my head around the algo, maybe you already thought about it

[2018-12-18 16:11] ogrisel commented on #83
I don't see how we could have multithreading at that level anymore. You suggest disabling thread-based parallelism for the `split_indices` operation? Maybe that could be an option. @NicolasHug might know better how LightGBM does for this part of the code.

If we are in the 10^9 rows range, I suspect that approximate feature splits using the voting strategy described in the parallel lightgbm paper

[2018-12-18 16:12] NicolasHug commented on #83
Technically yes... I suppose we could use a single-threaded quick-sort like partitioning scheme.

I don't think so, or at least no with the current strategy. those arrays are used to that sample indices don't overwrite each other

[2018-12-18 16:14] NicolasHug commented on #83
I haven't checked again but I don't think they have an option to disable parallel splitting.

@maartenbreddels could you check if you have the same issue on LightGBM? Note that they are reusing allocated data like we plan to do in #81 so we need to take this into account

[2018-12-18 18:01] maartenbreddels commented on #83
There are some parallel in place partition algorithms: http://www.lsi.upc.edu/~lfrias/research/parpar/wea08.pdf
they don't appear super trivial, not something I'd do in 1 evening.

But I think one of the buffers could be avoided, that would already save a bit. Would you be interested in a PR that does either a single threaded split, or uses 1 buffer, or both? I can't promise I can do it, but if th

[2018-12-18 18:22] NicolasHug commented on #83
I think a single-threaded version would be welcome and should not be too complicated to add.

I'd be curious to know how to avoid using one of the two arrays though!

[2018-12-18 19:02] maartenbreddels commented on #83
I'll open an PR for that, any guidelines for how this should be configurable?

I thought of using the sample_indices for the 'left' indices, and a scratchpad/buffer for the 'right' indices. Basically, sample_indices takes over the role of left_indices_buffer. That should work right?

[2018-12-18 19:10] NicolasHug commented on #83
If you can make sure that no entry in `samples_indices` gets overwritten before it's written into the other buffer then I guess so. But there's the "if" ^^

Let go simple for now, you can try passing a parameter e.g. `parallel_splitting` from `BaseGradientBoosing` all the way down to `SplittingContext.__init__`, and make `split_indices` dispatch to either `split_indices_parallel` or `split_indices

[2018-12-18 19:11] #68 closed

[2018-12-18 20:04] maartenbreddels opened #84 "Avoid ordered_gradients?"
Again, still digesting the code, but maybe you thought about this. Can ordered_gradients be avoided? Can we reorder in place in the gradient array, the tree grower can put it back in place at the end of .grow(). I see no place where the original order of gradient order matters except in gradient_boosting.py.

[2018-12-18 20:31] NicolasHug commented on #84
Yes it could be avoided. It's only used to increase cache hit.

Can you elaborate? I'm not sure I see how that would work out

One solution is to just never order the gradients and always use `all_gradients`.
We could just use the same code as in `_build_histogram_root` and pass `sample_indices`.

[2018-12-18 20:45] maartenbreddels commented on #84
What I mean is that gradient (during the call to treegrower.grow) will be reordered in place, instead of having both gradients and ordered_gradients. It will give the same performance but require less memory. There is a small overhead for putting it back in the original order though, but that should be really small.

[2018-12-18 20:55] NicolasHug commented on #82
Not sure there's anything we can do for now, I've opened https://github.com/scipy/scipy/issues/9608

[2018-12-18 21:06] NicolasHug commented on #84
But how precisely would you reorder the gradients array inplace, and then put it back in its original order without any additional data structure?

[2018-12-18 21:17] maartenbreddels commented on #84
eventually, you'll have `gradients = gradients[partition]` right? You need to do the inverse of that. I'm not sure what the most elegant numpy way would be, but this would work:
[code]
But it could be solved efficiently and inplace using numba I guess.

[2018-12-18 21:40] NicolasHug commented on #84
But you are creating this new `gradient_original` array right? I thought the point was precisely not to allocate any new array.

Maybe that's what you meant but more correctly, you have
`ordered_gradients == gradients[samples_indices]` where `samples_indices` is a view on a specific region in `partition`.

The ordering of the `gradients` array created in `fit()` and passed down to `SplittingContex

[2018-12-18 21:48] maartenbreddels commented on #84
(from mobile phone)

On Tue, 18 Dec 2018, 22:40 Nicolas Hug <notifications@github.com wrote:

Yes, it more for explaining the idea, but it should all be done inplace.

Yes,ok then I understand

Exactly, and I propose it does change order, so we don't need
ordered_gradients.
The only thing it requires is to change the order back

[2018-12-18 22:08] NicolasHug commented on #84
To be more exact, since `ordered_gradients` is of size `n_samples` and `samples_indices.shape[0] <= n_samples`:

`ordered_gradients[:samples_indices.shape[0]] == gradients[samples_indices]`

I understand what you want to do, I just do not understand how you want to do it!

[2018-12-19 12:50] ogrisel commented on #82
Note that we could skip this test temporarily instead of pinning scipy 1.1.0.

[2018-12-31 17:21] Laurae2 commented on #38
@stuartarchibald You can use the numba profiler here: https://github.com/numba/data_profiler (it just adds the signatures in reality). Incurs overhead penalty.

Still better to use Intel VTune for real profiling though (way more details and easier to pinpoint the issues).

[2018-12-31 17:43] stuartarchibald commented on #38
@Laurae2 Ah, so that's what you are referring to, thanks. Yes, indeed, they have different purposes...

[2019-01-02 22:41] NicolasHug opened #89 "Remove constant_hessian_value?"
I think we can drop the `constant_hessian_value` in the `SplittingContext`, and always assume the constant hessians value is `1`. We just have to set the gradients value accordingly, to have consistent leaf values.

This is what we do for LS loss already. WDYT @ogrisel ?

[2019-01-03 10:16] Laurae2 commented on #38
@ogrisel Note that LightGBM number of threads scale with the number of columns. Higgs dataset does not have enough columns for 48 threads (it will underestimate the scalability which gives you a lower scaling target).

[2019-01-16 16:47] NicolasHug opened #90 "sum_gradient and sum_hessians computation in find_node_split_subtraction"
Instead of summing over all the bins of an arbitrary feature histogram to compute
`context.sum_gradients` and `context.sum_hessians`, we can instead directly pass those values to `find_node_split_subtraction` since the parent's `split_info` already contains `gradient_left/right` and `hessian_left/right`.

We're summing over 255 bins max so the gain is very minimal, but it would be clearer, and mor

[2019-01-28 10:09] ogrisel commented on #89
As you wish. +0 to simplify the code a bit.

[2019-01-28 10:10] ogrisel commented on #90
I am not sure I understand. Feel free to submit a PR with the change to be able to directly see the diff.

[2019-01-28 14:28] NicolasHug commented on #90
I'm proposing what I have done in https://github.com/scikit-learn/scikit-learn/pull/12807

`grower._compute_spittability()` will look like this:

[code]

and we can remove these lines in the `find_node_split_subtraction`:

[code]

[2019-02-04 21:39] NicolasHug opened #91 "Optimize categorical crossentropy gradient update"
The gradient and hessian update of the categorical crossentropy loss  computes `p_k`  k times, but it only needs to compute it once (see https://github.com/scikit-learn/scikit-learn/commit/9e68984f8066085bdf801ccd0b5edca968709b5f which led to serious improvement in fit time).

[2019-02-18 13:55] ogrisel commented on #90
Ok +1.

[2019-02-18 13:57] ogrisel commented on #91
+1 as well.

[2019-03-01 13:35] NicolasHug commented on #90
Actually as we just discussed, we don't need to recompute sum_gradients and sum_hessians regardless of the histogram computation method that is used.

[2019-04-18 05:09] aditya1702 commented on #91
@NicolasHug Can I also work on this project?

[2019-04-18 10:21] ogrisel commented on #91
@aditya1702 please feel free to submit a PR.

[2019-07-04 19:36] NicolasHug opened #92 "_update_raw_predictions() throws a deprecation warning"
Passing lists to `njit`ted functions is [deprecated](http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-reflection-for-list-and-set-types) by numba and will soon stop being supported.

`_update_raw_predictions` throws a deprecation warning now.

I'm not sure what the workaround is. I opened  https://github.com/numba/numba/issues/4276 to ask the Numba folks

[2019-07-05 12:50] stuartarchibald commented on #92
Numba _should_ be issuing a `NumbaPendingDeprecationWarning`, list reflection is not scheduled for deprecation yet as a functional replacement is required to do this, so at present Numba is just giving advanced warning that it will be deprecated. The schedule for changes is here http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#schedule

[2019-08-20 15:41] esc opened #93 "numba-integration-test failure"
The numba-integration-tests failed and I am trying to figure out, if it is a legit failure or if we introduced a new bug in Numba

The failure is

[code]

And the full log is:

https://circleci.com/gh/numba/numba-integration-testing/1120

[2019-08-20 15:56] NicolasHug commented on #93
It's not numba, it's a scipy version issue (tests pass with scipy 1.1.0)

[2019-08-20 16:08] esc commented on #93
O.K. should I just wait for that version Scipy to hit anaconda.org?

[2019-08-20 16:54] NicolasHug commented on #93
1.1.0 is a previous version.

This may be a bug in the latest scipy, but TBH I don't have time right now to track it down. Maybe your best bet for now is to pin the scipy version to 1.1.0 when you test pygbm?

[2019-08-20 16:56] NicolasHug commented on #93
Also @esc 	, mostly unrelated, but I've been having fun lately with this numba-based HMM implementation https://github.com/NicolasHug/hmmkay

It's pretty basic (and I don't know how far I want to go maintaining it) but maybe you'd want to test against this one too, just in case.

[2019-08-20 18:45] jondoering opened #94 "Status of this project?"
Hi,
Are people still working on this project? Is this going anywhere? If not, what were the issues?
Just wondering, saw that latest commit is >6 month, but it's such a cool project.

Thanks,
Jonathan

[2019-08-20 18:58] NicolasHug commented on #94
Hi @jondoering 	, we implemented a Cython-based version of pygbm into scikit-learn and it's been released in scikit-learn 0.21.

Next version (0.22) will have additional features including support for infinite values, support for missing values.

I guess we will continue to fix bugs here, but we're currently working on improving the scikit-learn version, not pygbm.

[2019-08-20 19:01] jondoering commented on #94
@NicolasHug cool! Thanks for the quick answer. I will check the scikit-learn version!

[2019-08-20 19:03] #94 closed, assigned to nobody

[2019-08-21 08:10] esc commented on #93
@NicolasHug thanks for the info! Is there an open ticket in SciPy somewhere? Is this possibly something that needs a hotfix from SciPy?

[2019-08-21 13:46] ogrisel opened #95 "Implement native support for missing values"
as done in the Cython version in scikit-learn: https://github.com/scikit-learn/scikit-learn/pull/13911

[2019-10-03 06:56] esc commented on #93
Indeed: https://github.com/numba/numba-integration-testing/pull/27 - although an upstream solution would --- of course --- be preferable.

[2020-06-07 14:52] Sandy4321 opened #96 "did you stopped development since since can not do better than lightGBM pr Xgboost pr catboost?"
did you stopped  development since since can not do better than lightGBM pr Xgboost pr catboost?

[2020-06-07 15:07] NicolasHug commented on #96
Not really, development is stalled here because we have been focusing on the scikit-learn implementation (in Cython, not in Numba), which is about as fast as other libraries in most cases.

[2020-09-03 09:58] ogrisel commented on #96
The scope of this project is not to be faster than highly optimized libraries like LightGBM and XGBoost but to be almost as fast while significantly simpler in terms of code (high level Python accelerated by numba vs low level C++ for the other two libraries).

[2020-09-03 09:59] ogrisel commented on #96
The Cython implementation in scikit-learn is a bit more verbose that pygbm but does not require to add numba as an extra dependency to scikit-learn for the time being.

[2020-09-03 09:59] #96 closed, assigned to nobody

[2020-09-03 10:00] ogrisel opened #97 "Implement histogram recycling to improve memory efficiency"
As implemented in the Cython version in scikit-learn: https://github.com/scikit-learn/scikit-learn/pull/18242

[2020-09-03 10:02] ogrisel commented on #96
BTW, if you are interested in the numba version (that is pygbm), there are a couple of improvements implemented in the Cython version in scikit-learn that could be ported here:

https://github.com/ogrisel/pygbm/labels/help%20wanted

Feel free to contribute a PR if you are interested.

[2020-11-16 17:20] esc opened #98 "Recent Numba not usable with pygbm"
I am seeing the following:

[code]

The fix is easy, `jitclass` must now be imported so: `from numba.experimental import jitclass`. I can submit a patch if need be.

[2020-11-16 17:21] esc commented on #98
FYI: these are the relevant versions

[code]

[2020-12-01 10:51] stephanegaiffas opened #99 "Parallel splitting fails in nopython mode"
When running the tests and benchmarks I get the following error :

File "pygbm/splitting.py", line 253:
[code]
but it can be solved by using `parallel=False` in the split_indices decorator
[code]
but it's certainly shameful to remove parallelization here :(

I'm using numba 0.51.2. Any ideas on how to solve it ?